<% content_for :seo do %>
  <title><%= @metatag.title %></title>
  <meta name="description" content="<%= @metatag.description %>">
  <meta name="keywords" content="<%= @metatag.keywords %>">
  <meta name="author" content="<%= @metatag.author %>">
<% end %>

<section class="main-title">
  <div class="container">
    <div class="row">
      <h1><%= @service.title %></h1>
    </div>
  </div>
</section>

<section class="main">
  <div class="container">
    <div class="row">
      
      <div class="col-md-3">
        
        <%= link_to "Get a call back", contacts_path(:referral_service => @service.id), class: "btn btn-lg btn-block btn-warning" %>
        
        <div class="well headroom">
          <h4>Frequently asked Questions</h4>
          <ul class="list list-unstyled">
          <% @question.each do |s| %>
            <li><a href="#<%= s.id %>"><%= s.title %></a></li>
          <% end %>
          </ul>
        </div>
      </div>
      
      
      
      <div class="col-md-6">
        <img src="<%= @service.banner %>" class="img-responsive">
        
        <div class="well">
          <ol class="breadcrumb">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'A-Z Services', services_path %></li>
            <li class="active"><%= @service.title %></li>
          </ol>
        </div>
        
        <article id="service" class="well">
          <header>
            <h4><%= @service.title %></h4>
          </header>
          <section>
            <%= raw @service.body %>
          </section>
        </article>
        
      </div>
      
      <div class="col-md-3">
        
        <div class="well well-phone">
          <h4>Contact us</h4>
          <p>To book a consultation, or learn more about our <%= @service.title %> service, get in touch with our team</p>
          <a href="tel:" class="btn btn-warning btn-block">0114 222 1111</a>
        </div>

        <%= link_to services_path do %>
        <img src="http://placehold.it/360x250" class="img-responsive">
        <div class="well">
          <h4>A-Z of our Services</h4>
        </div>
        <% end %>
        
        
        <div class="well">
          <%= raw @service.sidebar %>
        </div>
        
      </div>
    </div>
  </div>

</section>

<section class="service-questions">
  <div class="container">
    
    <div class="row text-center">
      <h2>Frequently Asked Questions</h2>
      <hr>
    </div>
    
    <div class="row">
      
      
      <% @question.each do |s| %>
        <section class="col-md-4" id="<%= s.id %>">
          <div class="well">
            <h4><%= s.title %></h4>
            <p><%= s.body %></p>
          </div>
        </section>
        <% end %>

      
    </div>
  </div>
</section>