<% content_for :seo do %>
  <title><%= @metatag.title %></title>
  <meta name="description" content="<%= @metatag.description %>">
  <meta name="keywords" content="<%= @metatag.keywords %>">
  <meta name="author" content="<%= @metatag.author %>">
<% end %>

<section class="main-title">
  <div class="container">
    <div class="row">
      <h1><%= @service.title %></h1>
    </div>
  </div>
</section>

<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img src="<%= @service.banner %>" class="img-responsive">
        
        <div class="well">
          <ol class="breadcrumb">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'A-Z Services', services_path %></li>
            <li class="active"><%= @service.title %></li>
          </ol>
        </div>
        
        <div class="well">
          <%= raw @service.body %>
        </div>
        
      </div>
      
      <div class="col-md-4">
        
        
        <!-- Change from service id to slug once slug added -->
        <div class="well well-phone">
          <h4>Get a call back</h4>
          <p>To book a consultation, or learn more about a particular service, get in touch with our team</p>
          <%= link_to "Contact us", contacts_path(:referral_service => @service.id), class: "btn btn-primary" %>
          <a href="tel:" class="btn btn-link">0114 222 1111</a>
        </div>

        
        <div class="well">
          <%= raw @service.sidebar %>
        </div>
        
       <%= link_to services_path do %>
        <img src="http://placehold.it/360x250" class="img-responsive">
        <div class="well">
          <h4>A-Z of our Services</h4>
        </div>
        <% end %>
        
      </div>
    </div>
  </div>

</section>

<section class="service-questions">
  <div class="container">
    
    <div class="row text-center">
      <h2>Frequently Asked Questions</h2>
      <hr>
    </div>
    
    <div class="row">
      
      
      <% @question.each do |s| %>
        <section class="col-md-4" id="<%= s.id %>">
          <div class="well">
            <h4><%= s.title %></h4>
            <p><%= s.body %></p>
          </div>
        </section>
        <% end %>

      
    </div>
  </div>
</section>