<% content_for :seo do %>
  <title><%= @metatag.title %></title>
  <meta name="description" content="<%= @metatag.description %>">
  <meta name="keywords" content="<%= @metatag.keywords %>">
  <meta name="author" content="<%= @metatag.author %>">
<% end %>

<section class="main-title">
  <div class="container">
    <div class="row">
      <h2><%= @service.title %></h2>
    </div>
  </div>
</section>

<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img src="<%= @service.banner %>" class="img-responsive">
        
        <div class="well">
          <ol class="breadcrumb">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'A-Z Services', services_path %></li>
            <li class="active"><%= @service.title %></li>
          </ol>
        </div>
        
        <div class="well">
          <%= raw @service.body %>
        </div>
        
      </div>
      
      <div class="col-md-4">
        <%= raw @service.sidebar %>
      </div>
    </div>
  </div>

</section>

<section class="service-questions">
  <div class="container">
    
    <div class="row text-center">
      <h2>Frequently Asked Questions</h2>
      <hr>
    </div>
    
    <div class="row">
      
      
      <% @question.each do |s| %>
        <section class="col-md-4" id="<%= s.id %>">
          <div class="well">
            <h4><%= s.title %></h4>
            <p><%= s.body %></p>
          </div>
        </section>
        <% end %>

      
    </div>
  </div>
</section>